<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>What User Agent</title>
    <style>
      html {
        font-family: sans-serif;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h2>Your user agent is:</h2>
    <h1 class="user-agent">
      <%= userAgent %>
    </h1>
  </body>
</html>
